{% extends 'app/base.html' %}

{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
 
    </li>
  </ul>
 
</div>
{% endblock %}

{% block contenido %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>NRO ORDEN</th>
                            <th>USUARIO</th>
                            <th>PRECIO</th>
                            <th>ESTADO COMPRA</th>
                            <th>OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aux in listarHistorial %}
                        <tr>
                            <td>{{ aux.orden }}</td>
                            <td>{{ aux.usuario }}</td>
                            <td>{{ aux.preciototal }}</td>
                            <td>{{ aux.estado.estado }}</td>
                            <td>
                                <a href="{% url 'modificarSeguimiento' aux.id %}" class="btn btn-info">Modificar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
{% endblock %}