{% extends 'app/base1.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block navbar %}
<div class="collapse navbar-collapse" id="mynavbar">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">

        </li>
    </ul>
</div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form|crispy}}
                </table>
                <input type="submit" class="btn btn-success" value="Modificar">
            </form>
            {% if messages %}
            {% for msj in messages %}
            <script>
                Swal.fire({
                    title: 'Guardado!',
                    text: '{{ msj }}',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2000
                });
            </script>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}