{% extends 'app/base.html' %}

{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
 
    </li>
  </ul>
 
</div>
{% endblock %}

{% block contenido %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>NOMBRE</th>
                            <th>MARCA</th>
                            <th>PRECIO</th>
                            <th>STOCK</th>
                            <th>TIPO</th>
                            <th>IMAGEN</th>
                            <th>FECHA INGRESO</th>
                            <th>OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aux in listarProductos %}
                        <tr>
                            <td>{{ aux.codigo }}</td>
                            <td>{{ aux.nombre }}</td>
                            <td>{{ aux.marca }}</td>
                            <td>{{ aux.precio }}</td>
                            <td>{{ aux.stock }}</td>
                            <td>{{ aux.tipo }}</td>
                            {% if aux.imagen %}
                            <td><img src="{{ aux.imagen.url }}" alt="" width="80"></td>
                            {% else %}
                            <td>No tiene imagen...</td>
                            {% endif %}
                            <td>{{ aux.created_ad }}</td>
                            <td>
                                <a href="{% url 'modificarProducto' aux.codigo %}" class="btn btn-info">Modificar</a>
                                <a onclick="eliminar({{ aux.codigo }})" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
{% endblock %}