{% extends 'app/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block navbar %}
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productos' %}"><h5 style="color: rgb(255, 255, 255);">Productos</h5></a>
    </li>
  </ul> 
</div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
  <div class="row">
          <div class="row">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form|crispy}}
                </table>
                <input type="submit" class="btn btn-success" value="Modificar">
            </form>
            {{mensaje}}
          </div>
    </div>   
</div>
{% endblock %}