{% extends 'app/base2.html' %}
{% load static %}
    
    {% block contenido %}



        <div>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user" id="user" value="{{ user.username }}">
                    <input type="hidden" name="estado" id="estado" value="True">
                    
                    <input type="submit" value="Suscribirse" onclick="pago()" style="cursor: pointer; " class="btn btn-success btn-sm ml-auto">
                </form>
            </div>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user" id="user" value="{{ user.username }}">
                    <input type="hidden" name="estado" id="estado" value="False">
                    
                    <input type="submit" value="Desuscribirse" onclick="pago()" style="cursor: pointer;" class="btn btn-danger btn-sm ml-auto">
                </form>
            </div>
        </div>
        
        <div style="text-align: center; padding: 10px;">
            {% for aux in suscrip %}
            <h5>
                {% if aux.estado == 1 %}
                    ESTADO : SUSCRITO
                {% else %}
                    ESTADO : NO SUSCRITO
                {% endif %}
            </h5>
            {% endfor %}
        </div>

    
    
  {% endblock %}