{% extends 'app/base.html' %}

{% load static %}
{% load humanize %}
{% block contenido %}
{% if user.is_authenticated %}
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card bg-secondary">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h5 class="mb-3"><a href="{% url 'index' %}" class="text-body">
                    <i class="fas fa-long-arrow-alt-left me-2"></i>Continuar comprando</a></h5>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1 text">Carrito de compras</p>
                  </div>
                </div>
                {% for aux in listarCarrito %}
                {% if aux.usuario == user.get_username %}
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img src="{{aux.imagen.url}}" class="img-fluid rounded-3" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5 style="color: black;">{{aux.nombre}}</h5>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <h5 class="mb-0 p-4" style="color: black;">Cantidad: {{aux.cantidad}}</h5>
                        <div>
                          <h5 class="mb-0 p-4" style="color: black;">${{aux.precio|intcomma}}</h5>
                        </div>
                        <form action="" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="id" value="{{aux.id}}">
                          <input type="hidden" name="txtStock" value="{{aux.cantidad}}">
                          <input type="hidden" name="txtCodigo" value="{{aux.codigo}}">
                          <input type="hidden" name="txtUsuario" value="{{ user.get_username }}">
                          <button style="color: #cecece; border: none;">Borrar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {%endfor%}
              </div>
              <div class="col-lg-5">
                <div class="card bg-light text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Detalle de la tarjeta</h5>
                      <a href=""><i class="fa-solid fa-user"></i></a>
                    </div>

                    <p class="small mb-2">Tipo de tarjeta</p>
                    <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-visa fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-amex fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                    <div class="form-outline form-white mb-4">
                      <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                        placeholder="Nombre de la tarjeta" />
                      <label class="form-label" for="typeName">Nombre de la tarjeta</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                        placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                      <label class="form-label" for="typeText">Numero de la tarjeta</label>
                    </div>

                    <div class="row mb-4">
                      <div class="col-md-6">
                        <div class="form-outline form-white">
                          <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YYYY"
                            size="7" id="exp" minlength="7" maxlength="7" />
                          <label class="form-label" for="typeExp">Expiración</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-outline form-white">
                          <input type="password" id="typeText" class="form-control form-control-lg"
                            placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                          <label class="form-label" for="typeText">CVV</label>
                        </div>
                      </div>
                    </div>

                    <hr class="my-4">
                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2">${{total|intcomma}}</p>
                    </div>
                    {% for aux in usuario %}
                    {% if aux.nombre == user.get_username %}
                    {% if "No" in aux.estado %}
                    <div class="d-flex justify-content-between">
                      <p class="mb-2">5% Desc. por suscripción (No aplica) </p>
                      <p class="mb-2">${{desc|floatformat:0|intcomma}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total</p>
                      <p class="mb-2">${{total|floatformat:0|intcomma}}</p>
                    </div>
                    {% else %}
                    <div class="d-flex justify-content-between">
                      <p class="mb-2">5% Desc. por suscripción (Aplica) </p>
                      <p class="mb-2">${{desc|floatformat:0|intcomma}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total</p>
                      <p class="mb-2">${{totalDesc|floatformat:0|intcomma}}</p>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    <a class="btn btn-primary" href="{% url 'delete_product' %}">Pagar</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}